body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#logo {
    font-size: 20px;
    font-weight: bold;
    color: #16507b;
    margin-left: 13rem;
    
}

nav {
    display: flex;
    margin-right: 10rem;
    align-items: center;
}

nav a {
  
    text-decoration: none;
    color: #16507b;
    font-weight: bold;
    margin-right: 15px;

    
}

nav a:hover {
    color: #007BFF;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown-content a:hover {
    background-color: #007BFF;
    color: white;
}

.get-started-button {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    
}

main {
   background-color: #F8F8FF;
    text-align: center;
    padding: 50px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #124265;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.box-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.box {
    background-color: #FFFF;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 30px;
    text-align: left;
    width: 13%; 
    box-sizing: border-box;
    border-radius: 7px;
    
}

.logo {
    width: 50px; 
    height: 50px;
    margin-bottom: 10px;
}

.get-started-buttonx {
    background-color: #007BFF;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
    
   
}


div h2:hover {
    color: #007BFF;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.about-container {
    margin: 50px 0;
    text-align: center;
    
}
.about-container .text-container{
   
}


.about-container .additional-text-container{
    position: relative;
    bottom: 10rem;

    margin-left: 60rem;
   
   
}

.about h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.about p {
    margin-bottom: 30px;
}

.text-container {
    text-align: left;
}

.text-container p {
    margin-bottom: 15px;
    
}

.learn-more-button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
   
}

.learn-more-button:hover {
    background-color: #0056b3;
}

.additional-text-container {
    text-align: left;
}

.additional-text-container p {
    margin-bottom: 15px;
}


.stats-container {
    background-color: #FEFEFA; 
    padding: 30px;
    border-radius: 10px;
    margin: 50px auto; 
    width: 100%; 
    display: flex;
    justify-content: space-around;
}

.stats-item {
    text-align: center;
}

.stats-item h2 {
    font-size: 48px; 
    margin-bottom: 10px;
}




.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff; 
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.image-container {
    flex: 1;
    padding: 20px;
}

.text-container {
    flex: 1;
    padding: 20px;
}

.text-container p {
    margin-bottom: 20px;
}

.check-icon {
    color: #619bff; 
}

.check-icon {
    color: #619bff; 
}

.icon-bar {
    width: 100%;
    background-color: #F5FEFD ; 
    display: flex;
    justify-content: center;
    padding: 70px 0;
    bottom: 0;
   

}

.icon-bar img {
 width: 80px;
    margin: 0 90px;
}